name: HawtCiPipelineTM

on:
  pull_request:
    branches: [ master ]
    
  workflow_dispatch:
    

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the application
        uses: actions/checkout@v4

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Clean build
        run: mvn clean install -U --batch-mode

      - name: Run Tests
        run: mvn test --batch-mode
